@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@theme inline {
  --radius: 0.625rem;
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.3 0.05 350);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.3 0.05 350);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.3 0.05 350);
  --primary: oklch(0.5 0.25 350);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.95 0.05 350);
  --secondary-foreground: oklch(0.3 0.05 350);
  --muted: oklch(0.95 0.05 350);
  --muted-foreground: oklch(0.5 0.1 350);
  --accent: oklch(0.95 0.05 350);
  --accent-foreground: oklch(0.3 0.05 350);
  --destructive: oklch(0.7 0.2 25);
  --border: oklch(0.9 0.05 350);
  --input: oklch(0.9 0.05 350);
  --ring: oklch(0.5 0.25 350);
  --chart-1: oklch(0.7 0.2 350);
  --chart-2: oklch(0.7 0.2 25);
  --chart-3: oklch(0.7 0.2 200);
  --chart-4: oklch(0.7 0.2 300);
  --chart-5: oklch(0.7 0.2 150);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.3 0.05 350);
  --sidebar-primary: oklch(0.5 0.25 350);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.95 0.05 350);
  --sidebar-accent-foreground: oklch(0.3 0.05 350);
  --sidebar-border: oklch(0.9 0.05 350);
  --sidebar-ring: oklch(0.5 0.25 350);
}

.dark {
  --background: oklch(0.2 0.05 350);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.25 0.05 350);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.25 0.05 350);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.5 0.25 350);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.3 0.05 350);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.3 0.05 350);
  --muted-foreground: oklch(0.7 0.1 350);
  --accent: oklch(0.3 0.05 350);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.7 0.2 25);
  --border: oklch(0.3 0.05 350);
  --input: oklch(0.3 0.05 350);
  --ring: oklch(0.5 0.25 350);
  --chart-1: oklch(0.7 0.2 350);
  --chart-2: oklch(0.7 0.2 25);
  --chart-3: oklch(0.7 0.2 200);
  --chart-4: oklch(0.7 0.2 300);
  --chart-5: oklch(0.7 0.2 150);
  --sidebar: oklch(0.25 0.05 350);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.5 0.25 350);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.3 0.05 350);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(0.3 0.05 350);
  --sidebar-ring: oklch(0.5 0.25 350);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
    outline-width: 0px;
    outline-style: solid;
    outline-offset: 0;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
